:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;
  color: #333333;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}

