@import "../../VarGlobal.css";

.card{
 background-color: #fff;
  width: 35vh;
  height: 25vh;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top: 5vh;
  
  box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -webkit-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -moz-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
}
.card:hover{
  transition: 1.5s;
  cursor:pointer;
  background-color: var(--color-secundario);
  box-shadow: 14px 10px 36px -3px rgba(130,84,4,1);
  -webkit-box-shadow: 14px 10px 36px -3px rgba(130,84,4,1);
  -moz-box-shadow: 14px 10px 36px -3px rgba(130,84,4,1);

}
.cardSec{
  background-color: #fff;
  width: 35vh;
  height: 25vh;
  -webkit-border-top-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-top: 10vh;
  box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -webkit-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -moz-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
}
.cardSec:hover{
  cursor: pointer;
  transition: 1.5s;
  background-color: var(--color-secundario);
  color: antiquewhite;
  box-shadow: 14px 10px 36px -3px rgba(130,84,4,1);
  -webkit-box-shadow: 14px 10px 36px -3px rgba(130,84,4,1);
  -moz-box-shadow: 14px 10px 36px -3px rgba(130,84,4,1);
  
}
.contentTitle{
  margin: auto;
  width: 90%;
 
}
.title{
  color: var(--color-quinto);
  font-size: 1.5rem;
  font-family:'Bebas Neue';
  text-align: end;
  margin-top: 10px;
}
.contentParrafo{
  width: 90%;
  margin: auto;
  height: auto;
 
}
.parrafo{
  text-align: start;
  font-size: .7rem;
  font-family: 'Poppins';
  color: #000;
}

/* Responsive telefono */

@media screen and (max-width:480px){
  .card{
    width: 35vh;
    height: auto;
   
  }
  .contentParrafo{
    width: 80%;
    margin: auto;
    height: auto;
  }
  .cardSec{
    width: 35vh;
    height: auto;
  
  }
 
}

 /* RESPONSIVE TABLET */

 @media screen and (min-width:480px) and (max-width:950px){
  
  .card{
    width: 25vh;
    height: 14vh;
   
  }
  .contentParrafo{
    width: 80%;
    margin: auto;
  }
  .cardSec{
    width: 25vh;
    height: 14vh;
  }
 
}