@import "../../VarGlobal.css";

.card{
  background-color: var(--color-cuarto);
  width: 28vh;
  height: 40vh;
  border-radius: 15px;
  margin-top: 3vh;
  box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -webkit-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -moz-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
}
.card:hover{
  transition: 1.5s;
  cursor:pointer;
  background-color: var(--color-secundario);

}
.cardSec{
  background-color: var(--color-terciario);
  width: 28vh;
  height: 40vh;
  border-radius: 15px;
  margin-top: 3vh;
  box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -webkit-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
  -moz-box-shadow: 8px 7px 22px 3px rgba(17,50,64,0.68);
}
.cardSec:hover{
  cursor: pointer;
  transition: 1.5s;
  background-color: var(--color-secundario);
  color: antiquewhite;
}
.contentTitle{
  margin: auto;
  width: 90%;
  
}
.title{
  color: var(--color-quinto);
  font-size: 25px;
  text-align: end;
}
.contentParrafo{
  width: 90%;
  margin: auto;
  height: auto;
}
.parrafo{
  text-align: start;
  font-size: 20px;
  color: var(--color-quinto);
}
