.carousel{
  width: 450px;
  height: auto;
  font-family: "Poppins";
  font-size: 0.8rem !important;
}

.img{
  width: 380px !important;
  height: auto;
  border-radius: 3%;
}
h5{
  font-size: 1.3rem;
  color: #0b4783;
}

@media (max-width: 430px) {
  .carousel{
    width: 400px;
  margin: auto;
  }

  .img{
    width: 350px !important;
    height: 300px;
  }
}