.carousel{
  width: 400px;
  height: 300px;
}

.img{
  width: 300px !important;
  height: 300px;
}

@media (max-width: 430px) {
  .carousel{
    width: 350px;
  }

  /* .img{
    width: 10rem;
  } */
}