@import "../../VarGlobal.css";

.contentAbout{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: row;
  /* background-color: var(--color-primario); */
  background-image: url("https://i.pinimg.com/564x/0b/ab/08/0bab08a9d9ebea054d572f7e50898260.jpg");
  padding-bottom: 120px;
  
  /* position:absolute;
   z-index:3; */
}
.cards{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  width: 55%;
  height: 85vh;
 
}

.data{
  width: 40%;
  height: auto;
}
.spanProducto{
  
  margin: auto;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.contentTitle{
  display: flex;
  flex-direction: row;
  font-family:'Bebas Neue';
  font-size: 1.3rem;
  
}
.titleDigital{
  color: var(--color-quinto);
  margin-left: 8px;
}
.contentServiWork{
  width: 100%;
  margin-bottom: 150px;
  height: auto;
  
  /* position:absolute; */
   /* z-index:3; */
}
.contentParrafo{
  display: flex;
  margin: auto;
  text-align: left;
  width: 100%;
  height: auto;
  font-size: .8rem;
  font-family: 'Poppins';
}
.contentTitleWorkSpan{
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50px;
  align-items: center;
  width: 60%;
  background-color: var(--color-secundario);
  height: 15vh;
  margin-top: -60px;
}
.contentTitleWorkSpan h1{
  font-family:'Bebas Neue';
  font-size: 2rem;
}
.contentPImg{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 140px;
}
.contentParrafoWork{
  display: flex;
  flex-direction:column;
  margin-left: 1rem;
  width: 60%;
  height: 40vh !important;
  background-color: var(--color-quinto);
  height: auto;
  justify-content: center;
  color: #fff;
  -webkit-border-top-right-radius: 89px;
  -webkit-border-bottom-left-radius: 89px;
  -moz-border-radius-topright: 89px;
  -moz-border-radius-bottomleft: 89px;
  border-top-right-radius: 89px;
  border-bottom-left-radius: 89px;
}
.titleParrafo{
  font-size: 2rem;
  font-family:'Bebas Neue';
  padding-left: 1rem;
  padding-right: 1rem;
}
.parrafoWork{
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Poppins';
}
.imgWork{
  width: 300px;
  height: auto;
}
.svgServicie{
  width: 70%;
}

.contentCarousel{
  margin: auto;
}


/* Responsive  Telefono*/

@media screen and (max-width:480px){

  .contentAbout{
    display: flex;
    flex-direction: column;
  }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: auto;
    /* margin: 20px; */
  }
  .data{
    width: 100%;
  }
  .svgServicie{
    margin-top: 50px;
    width: 90%;
  }
  .spanProducto{
    margin: auto;
    width: 100%;
    
  }

  .contentTitle{
    font-size: 1.3rem;
    padding: 0 0 0 1rem;
  }

  .contentParrafo{
    padding: 0 1rem 0 1rem;
  }

  /* .contentTitleWorkSpan h1{
    font-family:'Bebas Neue';
    font-size: 2rem;
  } */

  .contentTitleWorkSpan{
    width: 90%;
    height: auto;
    padding: .7rem;
  }

  .contentTitleWorkSpan h1{
    font-family: 'Bebas Neue';
  }

  .contentPImg{
   flex-direction:column-reverse;
    margin-top: 60px;
  }
  .imgWork{
    width: 90%;
    height: auto;
  }
  .contentParrafoWork{
    margin: auto;
    width: 90%;
  }
  .titleParrafo{
    font-family: 'Bebas Neue';
    font-size: 2.2rem;
    padding: 1rem 1rem 0 1rem;
  }
  .parrafoWork{
    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
  }
  .contentCarousel{
    margin-bottom: 80px;
  }
}

 /* RESPONSIVE TABLET */

 @media screen and (min-width:480px) and (max-width:950px){
 
  .contentAbout{
    display: flex;
    flex-direction: column;
  }
  .cards{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100%;
    height: auto;
    /* margin: 20px; */
  }
  .data{
    width: 100%;
  }
  .svgServicie{
    margin-top: 50px;
    width: 90%;
  }
  .spanProducto{
    margin: auto;
    width: 100%;
    
  }
  .contentTitle{
    margin: auto;
    font-size: 1.3rem;
  }

  .contentTitleWorkSpan{
    width: 90%;
    height: auto;
    margin-top: -15px;
  }
  .contentPImg{
   flex-direction:column-reverse;
    margin-top: 60px;
  }
  .imgWork{
    width: 90%;
    height: auto;
  }
  .contentParrafoWork{
    margin: auto;
    width: 90%;
  }
  .titleParrafo{
    font-size: 2.2rem;
    padding: 10px;
  }
  .parrafoWork{
    font-size: 1.2rem;
    padding: 5px;
  }
  .contentCarousel{
    margin-bottom: 80px;
  }

}