@import "../../VarGlobal.css";

.contentAbout{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primario);
  padding-bottom: 120px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: space-around;
  width: 40%;
  height: auto;
}

.data{
  width: 60%;
  height: auto;
}
.spanProducto{
  margin: auto;
 
  width: 80vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.contentTitle{
  display: flex;
  flex-direction: row;
  align-self: center;
}
.titleDigital{
  color: var(--color-quinto);
  margin-left: 8px;
}
.contentServiWork{
  width: 100%;
  height: 800px;
}
.contentParrafo{
  display: flex;
  margin: auto;
  text-align: left;
  width: 90%;
  height: auto;
  font-size: 2rem;
}
.contentTitleWorkSpan{
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50px;
  align-items: center;
  width: 60%;
  background-color: aquamarine;
  height: 15vh;
  margin-top: -60px;
}
.contentPImg{
  display: flex;
  width: 100%;
  background-color: aliceblue;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 220px;
}
.contentParrafoBtn{
  width: 70vh;
  background-color: aqua;

}
.imgWork{
  width: 500px;
}
.btn{
  width: 250px;
  height: 55px;
  font-size: 20px;
  border-radius: 50px;
  background-color: aquamarine;
  border: none;
}