.containerHome{
    display: flex;
    height: 100vh;
    width: 100%;

}
.spn{
    font-size: 3rem;
    color: var(--color-quinto);
}
.containerMotivation{
    padding-top: 3rem;
    /* height: auto; */
    width: 50%;
    /* margin-top: 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.containerGif{
    display: flex;
  margin-top: 50px;
}
.contentImg{
    display: flex;
    /* align-items: flex-end; */
    align-items: center;
     width: 70vh;
     height: 50%; 
     margin-left: 3rem;

}
.motivation{
    width: 80%;
}

.contGif{
    /* width: 70vh; */
    height: 80%;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    align-items: center;
}

.gif{
    height: 22rem;
}


.contIcons{
    display: flex;
    /* height: 40%; */
    width: 85%;
    justify-content: end;
    align-items: flex-end;
    align-content: flex-end;

}
.icon{
    font-size: 2rem;
    margin-left: 20px;
}
.containerTxtHome{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
   
    z-index: 0;

}

.contHomeTxt{
    width: 70%;
    text-align: start;
    margin-bottom: 1.5rem;
}

.contHomeTxtTwo{
    width: 70%;
    text-align: start;
    /* border: 2px solid red; */
}

.contHomeBtn{
    display: flex;
    justify-content: flex-end;
    margin-top: 6rem;
}


/* //tablet */
@media (max-width: 894px){
    .containerHome{
        flex-direction: column;
    }
    .containerMotivation{
        /* background-color: aqua; */
        width: 100%;
        display: flex;
        align-items: center;
    }

    
    .containerTxtHome{
        width: 60%;
        height: auto;
    }
    .contentImg{
     width: 80%;
     height: auto;
     /* background-color: bisque; */
     margin-top: 5vh;
     margin-left: 0;
    }
  .motivation{
    width: 60vh ;
  }
 .contHomeTxt{
      width: 70%;
    }

    .contHomeTxtTwo{
        width: 100%
    }

    .contIcons{
        margin-top: 5vh;
    }
    .icon{
        font-size: 2rem;
        margin-left: 20px;
    }
}


@media screen and (max-width: 724px) {
    .containerHome{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        padding-bottom: 4rem;
        flex-direction: column;
    }

    .containerMotivation {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
        width: 90%;
        display: flex;
        justify-content: end;
        
    }

 

}
/* Responsive Telefono */
@media screen and (max-width: 602px) {
    .containerHome{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 4rem;
    }

    .containerMotivation {
        padding-top: 1rem;
        padding-bottom: 3rem;
        width: 90%;
        display: flex;
        justify-content: end;
    }

    .containerTxtHome{
        width: 100%;
        padding-left: 0;
    }

    .contHomeTxt{
        width: 70%;
        padding-left: 1rem;
    }

    .contHomeTxtTwo{
        width: 80%;
        padding-left: 1rem;
    }

    .contHomeBtn{
        padding-left: 1rem;

    }

    .motivation{
        width: 50%;
    }

}

@media screen and (max-width: 480px){
    .containerTxtHome{
        padding-left: 0rem;
        margin-top: 3rem;
        width: 100%;
    }

    .contentImg{
        width: 80%;
        height: auto;
        /* background-color: bisque; */
        margin-top: 5vh;
        margin-left: 0;
    }
     .motivation{
       width: 20rem;
     }

    .contHomeTxt{
        width: 80%;
    }

    .contHomeTxtTwo{
        width: 80%;
    }

    .contHomeBtn{
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .containerMotivation{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contIcons{
        padding-right: .8rem;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        width: 90%;
    }
    .icon{
        font-size: 2rem;
        margin-left: 20px;
    }

    .spn{
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 390px){
    .containerTxtHome{
        padding-left: 0rem;
        width: 100%;
    }

    .contHomeTxt{
        width: 90%;
    }

    .contHomeTxtTwo{
        width: 90%;
    }

    .motivation{
        width: 85%;
    }

    .contHomeBtn{
        padding-left: 1rem;
    }
}
