.contact{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.contentCards{
  width: 50%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(4, auto);
  padding-top: 1rem;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 18vh;
  margin: auto;
  margin-bottom: 1.2rem;
  /* background-color: bisque; */
  /* background-color: var(--color-secundario); */
  background-color: #0b4783;
  color: #fff;
  letter-spacing: 1px;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

}.titleCard{
  font-size: 1.7rem;
  font-family:'Bebas Neue';
  padding: 0 .7rem 0 .7rem;
}
.span{
  width: 60%;
  margin: auto;
  /* font-size: 1.6rem;
  font-family:'Bebas Neue'; */
  /* padding: 0 .5rem 0 .5rem; */
}
.contentForm{
  width: 50%;
  height: auto; 
}
.contHomeBtn{
  display: flex ;
  align-items: flex-end;
}

/* Responsive  Telefono*/

@media screen and (max-width:480px){

  .contact{
    display: flex;
    flex-direction: column;

  }
  .contentCards{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;

  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20vh;
    
  }

  .span{
    width: 90%;
    margin: auto;
    font-size: 2rem;
  }
  .contentForm{
    width: 50%;
    height: auto; 
  }
  .contentForm{
    width: 100%;
    height: auto; 
    
  }
  .contHomeBtn{
    margin-top: 20px;
    justify-content: end;
  }
}

 /* RESPONSIVE TABLET */

 @media screen and (min-width:480px) and (max-width:950px){
 
  

  .contact{
    display: flex;
    flex-direction: column;

  }
  .contentCards{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;

  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10vh;
    
  }
  .span{
    width: 90%;
    margin: auto;
    font-size: 2rem;
    
  }
  .contentForm{
    
    width: 50%;
    height: auto; 
  }
  .contentForm{
    width: 100%;
    height: auto; 
    
  }
  .contHomeBtn{
    margin-top: 20px;
    justify-content: end;
  }
}