.contact{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.contentCards{
  width: 50%;
  height: 90vh;
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-content: center;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 18vh;
  margin: auto;
  background-color: bisque;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}.titleCard{
  font-size: 2rem;
}
.span{
  width: 70%;
  margin: auto;
  font-size: 1.4rem;
}
.contentForm{
  width: 50%;
  height: auto; 
}

/* Responsive  Telefono*/

@media screen and (max-width:480px){

  .contact{
    display: flex;
    flex-direction: column;

  }
  .contentCards{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;

  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20vh;
    
  }
  .span{
    width: 90%;
    margin: auto;
    font-size: 2rem;
  }
  .contentForm{
    width: 50%;
    height: auto; 
  }
  .contentForm{
    width: 100%;
    height: auto; 
    
  }
}

 /* RESPONSIVE TABLET */

 @media screen and (min-width:480px) and (max-width:950px){
 
  

  .contact{
    display: flex;
    flex-direction: column;

  }
  .contentCards{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;

  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20vh;
    
  }
  .span{
    width: 90%;
    margin: auto;
    font-size: 2rem;
  }
  .contentForm{
    width: 50%;
    height: auto; 
  }
  .contentForm{
    width: 100%;
    height: auto; 
    
  }
}