.form{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
}

.formItems{
  margin: 10px !important;
}

.titleContact{
  font-size: 2.5rem;
  font-family:'Bebas Neue';
}
.btn{
  margin: auto !important;
 width: 80%;
}

.dialogCont{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dialogContButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive  Telefono*/

@media screen and (max-width:480px){

  .form{
    width: 90%;
    margin: auto;
  }
  .btn{
    margin: auto !important;
    width: 92%;
  }
}

 /* RESPONSIVE TABLET */

 @media screen and (min-width:480px) and (max-width:950px){
 
  .form{
    width: 90%;
    margin: auto;
    
  }
  .btn{
    margin: auto !important;
    width: 100%;
  }


}