.contentFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
  padding-bottom: 1.3rem;
  background-color: black;
  position:inherit;
  z-index:3;
  color: #fff;
  
}
.contentIcons{
  display: flex;
  flex-direction: row;
}
.contentLogo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #aaa;
  width: 30%;
  height: 32vh;
  font-family:'Bebas Neue';
}
.contentListado{
  width: 30%;
}
/* .contentUl{
  border: 1px solid red;
} */
.Ul{
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: space-around;
}
.li{
  font-family:'Bebas Neue';
  font-size: 20px;
  padding-bottom: 30px;
}
.li:hover{
  color: aqua;
  cursor: pointer;
  transition: 1s;
}
.contentIConsEmail{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /* margin-bottom: 1rem; */
}
.contentICons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  font-family:'Bebas Neue';
}
.icon{
  color: aliceblue;
  font-size: 30px;
  padding-bottom: 17px;
}
.icon:hover{
  transition: 1s;
  color: rgb(219, 205, 80);
  cursor: pointer;
}


/* Responsive  Telefono*/

@media screen and (max-width:480px){

  .contentFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  .contentLogo{
    width: 80%;
    height: 20vh;
    border-right: none;
    border-bottom: 1px solid #aaa;
  }

  .Ul{
    display: flex;
    flex-direction: column;
  }
  .li{
    padding-top: 20px;
  }
  .contentListado{
    margin: 3vh;
    width: 90%;
  }
  .contentIConsEmail{
    width: 90%;
  }
  .icon{
    padding: 5px;
  }
}

 /* RESPONSIVE TABLET */

 @media screen and (min-width:480px) and (max-width:950px){
 
  .contentFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  .contentLogo{
    width: 80%;
    height: 20vh;
    border-right: none;
    border-bottom: 1px solid #aaa;
  }

  .Ul{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }
  .li{
    font-size: 25px;
    padding-top: 20px;
  }
  .title{
    font-size: 20px;
  }
  .contentListado{
    margin: 3vh;
    width: 90%;
  }
  .contentIConsEmail{
    width: 90%;
  }
  .icon{
    padding: 5px;
    font-size: 40px;
  }

}